<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <link href="/styles/styles.css" rel="stylesheet"/>
    <link href="/styles/text-custom.css" rel="stylesheet"/>
    <link href="/styles/border.css" rel="stylesheet">
    <script src="/scripts/main.js"></script>
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Форум Вихрь Идей</title>
</head>

<body>
<header class="header">
    <div>
        <img class="logo-icon" src="/icon/logo.png" alt="logo"/>
        <h1>Вихрь Идей</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/index.html">Вернуться на сайт</a></li>
            <li><a href="/forum/issue/create">Задать вопрос</a></li>
            <li><a href="/forum/profile">Мой профиль</a></li>
        </ul>
    </nav>
</header>

<main>
    <article>
        <h2>Вопросы</h2>

        <ul>
            <li class="thing animated" th:each="issue : ${issues}" th:id="issue + ${issue.getId()}">
                <a class="custom-link" th:href="@{/forum/issue/{id}(id=${issue.getId()})}">
                    <h3 th:text="${issue.getTitle()}">title</h3>
                    <p th:text="${issue.getDescription()}">
                        description
                    </p>
                    <p>Дата публикации: <span th:text="${issue.getCreatedAtFormatted()}"></span></p>
                </a>
                <button class="danger" th:if="${isRedactor || #authentication.getName() == issue.getAuthorUsername()}" th:value="${issue.getId()}"
                        onclick="deleteIssue(this.value)">Удалить
                </button>
            </li>
        </ul>
    </article>

    <aside class="aside">
        <div>
            <h2>Правила форума</h2>
            <ul>
                <li>Решения модераторов и администрации являются окончательными.</li>
                <li>Не допускаются оскорбления, дискриминация и провокации.</li>
                <li>Соблюдайте общепринятые нормы общения и этикет.</li>
                <li>Не размещайте рекламу, флуд, повторяющиеся сообщения или бессмысленный контент.</li>
                <li>Не размещайте материалы, нарушающие законы (пиратство, экстремизм и т.д.).</li>
            </ul>
        </div>
        <div>
            <h2>Контакты редакторов</h2>
            <ul>
                <li>alexey.ivanov@example.com</li>
                <li>maria.petrova@example.com</li>
                <li>smirnov1997@example.com</li>
                <li>ekaterina25@example.com</li>
            </ul>
        </div>
    </aside>
</main>

<footer class="footer">
    <p>
        &copy; 2024 [Лысункин Данила/Вихрь идей]. Все права защищены.
        Несанкционированное копирование, распространение или использование
        материалов с этого сайта запрещено.
    </p>
</footer>
</body>
</html>
