<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/styles/styles.css" rel="stylesheet"/>
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <title>Мой профиль Вихрь Идей</title>
    <meta
            name="description"
            content="Дизайн и брендинг.
      Маркетинг и коммуникации.
      Цифровой маркетинг.
      Творческий подход.
      Ориентация на результат.
      Индивидуальный подход.
      Прозрачная коммуникация."
    />

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] =
                m[i] ||
                function () {
                    (m[i].a = m[i].a || []).push(arguments);
                };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) {
                if (document.scripts[j].src === r) {
                    return;
                }
            }
            (k = e.createElement(t)),
                (a = e.getElementsByTagName(t)[0]),
                (k.async = 1),
                (k.src = r),
                a.parentNode.insertBefore(k, a);
        })(
            window,
            document,
            "script",
            "https://mc.yandex.ru/metrika/tag.js",
            "ym"
        );

        ym(99192957, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true,
        });
    </script>
    <noscript
    >
        <div>
            <img
                    src="https://mc.yandex.ru/watch/99192957"
                    style="position: absolute; left: -9999px"
                    alt=""
            /></div
        >
    </noscript>
    <!-- Google tag (gtag.js) -->
    <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-N0GHYE5D4D"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag("js", new Date());

        gtag("config", "G-N0GHYE5D4D");
    </script>
</head>

<body>
<header class="header">
    <img class="logo-icon" src="/icon/logo.png" alt="logo"/>
    <h1>Вихрь Идей</h1>
    <nav>
        <ul>
            <li><a href="/index.html">Вернуться на сайт</a></li>
            <li><a href="/forum">Форум</a></li>
        </ul>
    </nav>
</header>

<main>
    <article>
        <h2>Мой профиль</h2>
        <p>Ваше имя: [[${username}]]</p>
        <p>Ваши роли: [[${roles}]]</p>
        <form th:action="@{/logout}" th:method="post">
            <button type="submit">Выйти из аккаунта</button>
        </form>
    </article>
</main>

<footer class="footer">
    <p>
        &copy; 2024 [Лысункин Данила/Вихрь идей]. Все права защищены.
        Несанкционированное копирование, распространение или использование
        материалов с этого сайта запрещено.
    </p>
    <!-- Yandex.Metrika informer -->
    <a
            href="https://metrika.yandex.ru/stat/?id=99192957&amp;from=informer"
            target="_blank"
            rel="nofollow"
    ><img
            src="https://informer.yandex.ru/informer/99192957/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
            style="width: 88px; height: 31px; border: 0"
            alt="Яндекс.Метрика"
            title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"
            class="ym-advanced-informer"
            data-cid="99192957"
            data-lang="ru"
    /></a>
</footer>
</body>
</html>