<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Please sign in</title>
    <link href="/styles/default-ui.css" rel="stylesheet">
</head>
<body>
<div class="content">
    <form class="login-form" th:method="post" th:action="@{/login}">
        <h2>Пожалуйста войдите</h2>
        <p style="color: red" th:if="${param.error}">Неверный логин или пароль</p>
        <p>
            <label for="username" class="screenreader">Логин</label>
            <input type="text" id="username" name="username" placeholder="Ваш логин" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="screenreader">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Ваш пароль" required="">
        </p>

        <button type="submit" class="primary">Войти</button>
        <a href="/signup">У меня еще нету аккаунта</a>
    </form>


</div>

</body>
</html>