<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign up</title>
    <link href="/styles/default-ui.css" rel="stylesheet">
</head>
<body>
<div class="content">
    <form class="login-form" th:method="post" th:action="@{/signup}" th:object="${user}">
        <h2>Регистрация</h2>
        <p style="color: green" th:if="${success}">Успешная регистрация</p>

        <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        <p>
            <label for="username" class="screenreader">Логин</label>
            <input type="text" id="username" name="username" th:field="*{username}" placeholder="Ваш логин" autofocus="">
        </p>
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        <p>
            <label for="password" class="screenreader">Пароль</label>
            <input type="password" id="password" name="password" th:field="*{password}" placeholder="Ваш пароль">
        </p>
        <button type="submit" class="primary">Зарегистрироваться</button>
        <a href="/login">У меня уже есть аккаунт</a>
    </form>
</div>

</body>
</html>