<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign up</title>
    <link href="/css/default-ui.css" rel="stylesheet">
</head>
<body>
<div class="content">
    <form class="login-form" th:method="post" th:action="@{/signup}">
        <h2>Sign up</h2>
        <p style="color: red" th:if="${error}" th:text="${error}"></p>
        <p>
            <label for="username" class="screenreader">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" autofocus="">
        </p>
        <p>
            <label for="password" class="screenreader">Password</label>
            <input type="password" id="password" name="password" placeholder="Password">
        </p>
        <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}">
        <button type="submit" class="primary">Sign up</button>
        <a href="/login">I already have an account</a>
    </form>
</div>

</body>
</html>