<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign up</title>
    <link href="/css/default-ui.css" rel="stylesheet">
</head>
<body>
<div class="content">
    <form class="login-form" th:method="post" th:action="@{/signup}">
        <h2>Регистрация</h2>
        <p style="color: red" th:if="${error}" th:text="${error}"></p>
        <p>
            <label for="username" class="screenreader">Логин</label>
            <input type="text" id="username" name="username" placeholder="Ваш логин" autofocus="">
        </p>
        <p>
            <label for="password" class="screenreader">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Ваш пароль" required>
        </p>
        <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}">
        <button type="submit" class="primary">Зарегистрироваться</button>
        <a href="/login">У меня уже есть аккаунт</a>
    </form>
</div>

</body>
</html>