* {
    font-family: "Roboto Light", sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

p {
    margin-bottom: 1rem;
}

body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

/* header */

header {
    background-color: #f0f0f0;
    display: flex;
    padding: 0.7rem 20rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 1.6rem;
    padding: 0;
    margin: 5px 0 0;
    color: #09244b;
    font-weight: bold;
}

header div {
    display: flex;
    flex-direction: row;
    align-content: center;
}

header ul {
    margin-left: 30px;
}

header li {
    display: inline;
    margin-left: 20px;
}

header li a {
    text-decoration: none;
    color: #09244b;
}

/* main */
main {
    display: flex;
    gap: 1.5rem;
    padding: 3rem 20rem;
    align-items: flex-start;
    justify-content: space-between;
}

article {
    width: 70%;
}

/* article */
article h2 {
    margin-bottom: 1rem;
}

article li {
    list-style-type: none;
    margin: 1rem 0;
}

article li a {
    width: 100%;
}

/* img */
img {
    margin: 20px 10px;
    width: 90%;
    border-radius: 10px;
}

.logo-icon {
    margin: 0 10px 0 0;
    width: 40px;
    border-radius: 0;
}

/* aside */
.aside {
    flex-shrink: 0;
    max-width: 20%;
    background-color: #f0f0f0;
    padding: 3rem;
}

.aside h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

aside div:first-child {
    margin-top: 0;
}

aside div {
    margin-top: 20px;
}


/* footer */

.footer {
    text-align: center;
    background-color: #f0f0f0;
    padding-top: 2rem;
    border: solid #f0f0f0 3px;
}

@media screen and (max-width: 1700px) {
    article {
        width: 100%;
    }

    .aside {
        max-width: 20%;
    }

    main {
        padding: 2rem 10rem;
    }

    header {
        padding: 20px 10rem;
    }
}

@media screen and (max-width: 1400px) {
    .aside {
        display: flex;
        gap: 5rem;
        justify-content: center;
        max-width: 90%;
    }

    aside div {
        margin-top: 0;
    }

    main {
        padding: 20px 8rem;
        flex-direction: column;
        align-items: center;
    }

    header {
        padding: 2rem 8rem;
    }
}

@media screen and (max-width: 980px) {
    .aside {
        display: none;
    }

    header {
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }

    header div {
        gap: 0.7rem;
    }
    header ul {
        margin-left: 0;
        margin-top: 1rem;
    }

    header li {
        display: inline;
        margin: 0 1rem;
    }

    header li a {
        font-size: 1.5rem;
    }

    .logo-icon {
        margin-right: 0;
    }

    main {
        padding: 2rem 2rem;
    }

    img {
        width: 100%;
        margin: 2rem 2rem;
    }
}
